{% extends "admin/base.html.twig" %}
{% block title %}
    {{ title }}
{% endblock %}
{% block alert %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endblock %}
{% block body %}
<h1 class="text-center">{{ title }}</h1>
<div class="col-12 mb-5 text-right">
    <a href="{{ path('admin_post_new') }}" class="btn btn-success btn-lg">Создать новый</a>
</div>
<div class="col-12">
    <table class="table table-striped shadow-lg bg-white rounded table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Is_published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.isPublished ? 'Да' : 'Нет' }}</td>
                <td>{{ post.slug }}</td>
                <td>
                    <a href="{{ path('admin_post_show', {'id': post.id}) }}"><i class="fas fa-glasses"></i></a>
                    <a href="{{ path('admin_post_edit', {'id': post.id}) }}"><i class="fas fa-pencil-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
