<nav class="navbar navbar-expand-lg  navbar-dark bg-dark col-12">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('home') }}">
            <i class="fas fa-bible"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Главная</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('admin_home') }}">Админка</a>
                    </li>
                {% endif %}
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path("app_logout") }}" class="btn btn-outline-success" type="submit">Выйти</a>
            {% else %}
                <a href="{{ path("app_login") }}" class="btn btn-outline-success" type="submit">Войти</a>
            {% endif %}
        </div>
    </div>
</nav>
